Think of yourself, currently working as a Business analyst in one of the top sports company. The senior management team has asked you to come up with metrics with which they can gauge which team will win the upcoming La Liga cup (Football tournament).
The data set contains information on all the teams so far participated in all the past tournaments. It has data about how many goals each team scored, conceded, how many times they came within first 6 positions, how many seasons they have qualified, their best position in the past etc.
You are required to do the following:

1.Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [50]:
import numpy as np
import pandas as pd

In [51]:
Laliga_df=pd.read_csv("C:/Users/Sapna/Laliga.csv",skiprows=1)
Laliga_df.replace('-',0,inplace=True)

2.Print all the teams which have started playing between 1930-1980.

In [113]:
print('Teams that started playing between 1930-1980')
print(Laliga_df.Team.where(Laliga_df['Debut'].between('1930','1980')))

Teams that started playing between 1930-1980
0                     NaN
1                     NaN
2                     NaN
3                Valencia
4                     NaN
5                 Sevilla
6                     NaN
7                     NaN
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
13                    NaN
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
20                    NaN
21                Granada
22         Rayo Vallecano
23                  Elche
24                    NaN
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
             ...
31               Sabadell
32                  Cadiz
33                    NaN
34              Castellon
35                    NaN
36                    NaN
37                Cordoba
38                    NaN
39             Recreativo
40              Burgos CF
41             Pontevedra
42                    NaN
43                    NaN
44                    NaN
45                    NaN
46              Gimnastic
47                    NaN
48                    NaN
49               Alcoyano
50                   Jaen
51                    NaN
52             AD Almeria
53                    NaN
54                 Lleida
55                    NaN
56                    NaN
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
60                    NaN
Name: Team, Length: 61, dtype: object

3.Print the list of teams which came Top 5 in terms of points

In [116]:
Laliga_df['Points'] = (Laliga_df['Points'].astype(int))
Topteam_df=Laliga_df.nlargest(5,'Points')
print('Top Team in Terms of points')
print(Topteam_df.iloc[:,1])

Top Team in Terms of points
0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

4.Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.

Goal_diff_count = GoalsFor - GoalsAgainst

In [112]:
Laliga_df['GoalsFor'] = (Laliga_df['GoalsFor'].astype(int))
Laliga_df['GoalsAgainst'] = (Laliga_df['GoalsAgainst'].astype(int))
def Goal_diff_count(GoalsFor,GoalsAgainst):
    return(GoalsFor-GoalsAgainst)
Laliga_df['Goaldiffcount']=Goal_diff_count(Laliga_df['GoalsFor'],Laliga_df['GoalsAgainst'])
Laliga_Goal_df=Laliga_df.sort_values(by=['Goaldiffcount'],ascending=False)
print(Laliga_Goal_df[['Team',  'Goaldiffcount']].head(1))
print(Laliga_Goal_df[['Team',  'Goaldiffcount']].tail(1))

          Team  Goaldiffcount
0  Real Madrid           2807
                Team  Goaldiffcount
13  Racing Santander           -525

5.Create a new column with name “Winning Percent” and append it to the data set
Percentage of Winning = (GamesWon / GamesPlayed)*100

If there are any numerical error, replace it with 0%
Print the top 5 teams which has the highest Winning percentage

In [102]:
Laliga_df['GamesWon'] = (Laliga_df['GamesWon'].astype(int))
Laliga_df['GamesPlayed'] = (Laliga_df['GamesPlayed'].astype(int))
Laliga_df['WinningPercent']=((Laliga_df['GamesWon']/Laliga_df['GamesPlayed'])*100)
Laliga_WinnPct_df=Laliga_df.sort_values(by=['WinningPercent'],ascending=False)
print(Laliga_WinnPct_df[['Team','WinningPercent']].head(5))

              Team  WinningPercent
0      Real Madrid       59.630702
1        Barcelona       57.241130
2  Atletico Madrid       47.475134
3         Valencia       44.557057
4  Athletic Bilbao       43.772629

6.Group teams based on their “Best position” and print the sum of their points for all positions

Eg: Best Position                Points

          1                              25000

          2                              7000

In [98]:
Groupby_df=Laliga_df.groupby('BestPosition').sum()
print(Groupby_df[['Points']])

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34